.user-info-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-top: 45px;
  margin-left: 50px;
  margin-right: 30px;
}
.MuiSlider-root {
  color: #1e208b;
}
.content{
  list-style-type: none;
  margin-top: 100px;
}

.content li{
  padding: 20px;
  color: white;
  border-bottom: 2px solid gray;
  width: 150px;
  margin-left: 0px;
}
.sidebar-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 17.5vw;
  background-color: hsla(253, 91%, 43%, 0.842);
  border-radius: 30px;
}
.sidebar{
  margin-right: 30px;
}
.header{
  margin-top: 20px;
  margin-left: 20px;
  width: 75vw;
}
.text{
  font-size: 23px;
}
.text::before{
  color: rgb(255, 255, 255);

}
.text::after{
  color: grey;

}

.body-text{
  display: flex;
  height: 100px;
  font-size: 100px;
  font-weight: 800;
  color: rgb(219, 218, 218);
  position: absolute;
  top: 50%;
  left: 80vh;

}

.chat-box{
  height: 100px;
  font-size: 100px;
  font-weight: 800;
  color: rgb(219, 218, 218);
  position: absolute;
  top: 93%;
  left: 150vh;
  bottom: 0;


}
.chat{
  bottom: 0;
}

.accord{
  display: 'flex';
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.info{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 23vh;
  left: 25vw;
}

.left{
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(182, 176, 176);
  height: 75vh;
  width: 25vw;
}
.right{
  height: 75vh;
  width: 25vw;
  position: absolute;
  top: 0%;
  left: 60vh;
  bottom: 0;
}

.logout{
  display: flex;
  position: absolute;
  height: 50vh;
  width: 0vw;
  top: 15vh;
  left: 75vw;
}